// Quartz colors
// NOTE: higher number = darker

//Text colors
$qz-header-black = #333333
$qz-body-black = #4C4C4C
$qz-body-link-blue = #168dd9
$qz-background-gray = #f9f9f9

// Blues
$qz-blue-1 = #51b2e5
$qz-blue-2 = #168dd9
$qz-blue-3 = #00609f
$qz-blue-4 = #154866

//Purples
$qz-purp-1 = #d190b6
$qz-purp-2 = #d365ba
$qz-purp-3 = #ab5787
$qz-purp-4 = #703c5c


// Grays
$qz-gray-1 = #c4c4c4
$qz-gray-2 = #969696
$qz-gray-3 = #666666

