extends layout

block content
    h3 Inflation adjuster
    p This tool takes input data that consists of dates and dollar amounts, and gives you back the dollar amounts adjusted for inflation using a date of your choice.
    p 
      | It uses the 
      a(href="http://api.stlouisfed.org/docs/fred/series_observations.html") St. Louis FRED API
      |  to fetch the data that it uses for inflation adjustment. Data used is the Consumer Price Index for All Urban Consumers (CPIAUCSL), and is available dating back to 1947.
    div(class="container")
        div(class="content")
            form(class="data-form" enctype="multipart/form-data" action="/adjust/data" method="post")
                p
                    textarea(name="data_area" rows="10" cols="50") Paste data in here or upload a csv file.
                p
                    input(name="file" type="file" id="fileinput")
                p
                    button(type="submit" id="submit-button") Adjust

        div(class="content" style="display: #{display_output};")
            p
                textarea(name="output" rows="10" cols="50" readonly) #{text}
